body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.center {
    text-align: center;
}

#logo {
    padding: 10%;
    padding-top: 50px;
}
