<!DOCTYPE html>
<html>
<head>
    <title>Form Example</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="center">
        <h1>Enter Data Slay!</h1>
        <form method="POST" action="/submit">
            <label for="passcode">Passcode:</label>
            <input type="text" id="passcode" name="passcode"><br><br>
            <input type="submit" value="Submit" href="./printer-page.html">
        </form>
    </div>
    
</body>
</html>