<!DOCTYPE html>
<html>
<head>
    <title>Form Example</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="center">
        <img src="../static/HLS3.png" id="logo" alt="harvard" width="300">
        <h1>Enter Data Slay!</h1>
        <form method="POST" action="/submit">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br><br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>
